@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 150vh;
    color: #fff;
    background: linear-gradient(-90deg, #cf5d00, #04003d, #04003d, #4100b9);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: none;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    text-shadow: 0 1px 10px #001263;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #0051ffbe;
    text-shadow: none;
    box-shadow: 0 1px 10px #ffffff;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /*agar button explore ketka scroll smpe bawah tertutup oleh artikel */
}
section::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#001263,transparent); /*sebagai pewarna untuk batas atas dan bawah antara ship dan artikel*/
    z-index: 1000;
}
section::after
{
    content: "";
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,#ffffff,transparent); /*sebagai pewarna untuk batas atas dan bawah antara ship dan artikel*/
    
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#stars
{
    mix-blend-mode: screen;
}
section img#pluto
{
    mix-blend-mode: screen;
}
section img#jupiter
{
    mix-blend-mode: screen;
}
section img#kaca
{
    mix-blend-mode:screen;
}
section img#ship
{
    z-index: 10;
}
#btn
{
    text-decoration:none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #0051ff;
    font-size: 1.5em;
    z-index: 100;
    transform: translateY(100px);
    box-shadow: 0 1px 50px #fff;
}
.sec
{
    position: relative;
    padding: 100px;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: #001263;
}
.sec h2
{
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 1px 10px #77a7ce;
}
.sec h3
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 0 1px 10px #77a7ce;
}
.sec p 
{
    font-size: 1em;
    color: #fff;
    text-shadow: 1px 1px 20px #abd5fc;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: justify; /*untuk membuat paragraf rata kanan dan kiri*/
    /* text-indent: 100px; /*untuk membuat paragraf kalimat awal menjorok ke dalam */ 
}

.sec Font
{
    margin-left: 100px;
}

/* daftar dan masuk*/

button.btn-primary1
{
    padding: 10px 35px;
    background-color: #fff;
    border-radius: 100px;
    color: blue;
    border: none;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 1px 20px #77a7ce;
    margin: -1px 0px;
    margin-right: 57px;
    margin-left: 500px;
    margin-top: 200px;
}
button.btn-primary2
{
    padding: 10px 35px;
    background-color: #fff;
    border-radius: 100px;
    color: blue;
    border: none;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 1px 20px #77a7ce;
}

/* tombol pencarian */

h1
{
    margin: 0 0 10;
    margin-top: -50px;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 1px 10px #77a7ce;
}
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}
input
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]
{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
input[type="submit"]
{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #2d99ff;
    color: #fff;
}
input[type="submit"]:hover
{
    background: #ff6600;
}

/*kontak kami*/

.right{
	padding: 600px 500px 100px;
    background: #001263;
}

h2{
	position: relative;
	margin-bottom: 15px;
    color: #fff;
    text-shadow: 0 1px 15px #abd5fc;
}

input[type="teks"]
{   
    background: rgba(181, 226, 255);
    width: 520px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 50px;
}

.field{
	width: 100%;
	outline: none;
	background-color: rgba(181, 226, 255);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    border-radius: 10px;
}

.field:hover{
	background-color: #ffffff;
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #00b7ff;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    border-radius: 50px;
}

.btn:hover{
    background-color: #ff8800;
}

/* Footer */

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    text-decoration: none;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2d99ff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

